.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}



/* input[type = 'text'] {
  text-align: left;
  margin: auto;
  width: 80%;
  max-width: 230px;
  height: 35px;
  font-size: 16px;
  padding: 6px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #000000;  
}*/

form{
  display: flex;
  justify-content: start;
  align-items: center;
}
input[type = 'text']::placeholder{
  padding-left: 35%;
  -webkit-transition: .6s ease;
  -o-transition: .6s ease;
  transition: .6s ease;  
}
input[type = 'text']:hover::placeholder, input[type = 'text']:focus::placeholder {
  padding-left: 0;
}
/*
input[type = 'text']:hover {  
  background-color: #F7F6F6;
} */